%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%button {
    height: 30px;
    padding: 0.25rem;
    border-width: 1px;
    border-style: solid;
    &:focus {
        outline: none;
    }
}