.filter-container {
    flex-shrink: 0;
    background-color: $offwhite;
}

.filter-wrapper {
    position: relative;
    margin: 1rem 0rem;
    overflow: hidden;
}

.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
    max-height: 0;
    margin-bottom: 30px;
    transition: 0.3s ease-in-out;
    &.active-mobile {
        max-height: 400px;
        margin-bottom: 0;
    }
    @media (min-width: 812px) and (orientation: landscape) {
        max-height: initial;
        margin-bottom: 0;
    }
}

.input-wrapper {
    width: 33.333333333%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.25rem;
    &:nth-child(3n) {
        padding-right: 0;
    }
    &:nth-child(3n+1) {
        padding-left: 0;
    }
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
        padding-left: 0.25rem;
    }
    @media (min-width: 812px) and (orientation: landscape) {
        width: 20%;
        &:nth-child(3n) {
            padding-right: 0.25rem;
        }
        &:nth-child(3n+1) {
            padding-left: 0.25rem;
        }
        &:nth-child(5n) {
            padding-right: 0;
        }
        &:nth-child(5n+1) {
            padding-left: 0;
        }
    }
    @include breakpoint(desktop) {
        width: 11.11111111%;
        &:nth-child(5n) {
            padding-right: 0.25rem;
        }
        &:nth-child(5n+1) {
            padding-left: 0.25rem;
        }
    }
}

.input-label {
    text-align: center;
    font-weight: 700;
}

.accordion-toggle {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    transition: 0.3s ease-in-out;
    @include breakpoint (tablet) {
        left: 1rem;
    }
    @media (min-width: 812px) and (orientation: landscape) {
        display: none;
    }
    @include breakpoint (laptop) {
        display: none;
    }
}