.entry-row {
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    &:nth-child(even) {
        background-color: $offwhite;
    }
    &:nth-child(odd) {
        background-color: white;
    }
}
.entry-wrapper {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint (desktop) {
        flex-wrap: nowrap;
    }
}
.entry-col-wrapper {
    width: 50%;
    @extend %flex-center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @include breakpoint (tablet) {
        width: 33.33333333%;
    }
    @media (min-width: 812px) and (orientation: landscape) {
        width: 20%;
    }
    @include breakpoint(desktop) {
        width: 11.11111111%;
    }
}

.entry-label {
    font-size: 0.8rem;
    line-height: 0.9rem;
    font-weight: 700;
    color: $light-grey;
    text-transform: uppercase;
    @include breakpoint (desktop) {
        display: none;
    }
}