.site-header-container {
    position: relative;
    flex-shrink: 0;
    height: 80px;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(black, 0.2);
    z-index: 10;
}

.site-header-row {
    height: 100%;
}

.site-logo-col {
    @extend %flex-center;
}