:root {
    font-size: 12px!important;
    @include breakpoint (phablet) {
        font-size: 14px!important;
    }
    @include breakpoint (tablet) {
        font-size: 16px!important;
    }
}

input {
    border: 1px solid $light-grey;
    border-radius: 0.25rem;
    padding: 0.5rem;
    &[type="submit"] {
        background-color: $red;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        border-radius: 0;
        transition: 0.3s;
        &:hover {
            background-color: $purple;
        }
    }
}

.body {
    @extend %montserrat;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.panel {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(black, 0.2);
}

.button {
    @extend %button;
    &.outline {
        color: $light-grey;
        border-color: $light-grey;
        background: none;
    }
    &.rounded {
        border-radius: 0.25rem;
    }
}