
.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:white;
    z-index: 1000;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    &.hide{
        pointer-events: none;
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
    }
}

.spinner{
    border: $loader-width solid #f3f3f3;
    border-radius: 50%;
    border-top: $loader-width solid $red;
    width: $loader-size;
    height: $loader-size;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: calc(50% - #{$loader-size}/2);
    left: calc(50% - #{$loader-size}/2);
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}