$red: #e4002b;
$light-yellow: #fcf6a9;
$yellow: #fff70d;
$purple: #860064;
$ice: #26f8ff;
$offwhite: #F3F1F1;
$silver: #E9E8E8;
$chrome: #CECECE;
$light-grey: #979797;
$med-grey: #4A4A4A;
$grey: #333333;
$gold: rgb(144, 122 ,55);